---
- hosts: all
  connection: local

  vars_files:
    - vars.yml

  pre_tasks:
    - name: "Update apt cache if needed."
      apt:
        update_cache: yes
        cache_valid_time: 3600
      become: true

    - name: "Install aptitude - preferred for ansible"
      apt:
        state: latest
        name:
          - aptitude
      become: true

    - name: "Update all packages to the latest version"
      apt:
        upgrade: dist
      become: true

  tasks:
    - name: "Install apt cmd line apps"
      apt:
        state: latest
        name:
          - awscli
          - dos2unix
          - gnupg
          - golang
          - graphviz
          - jq
          - libsqlite3-dev
          - neofetch
          - net-tools
          - nmap
          - silversearcher-ag
          - tree
          - unzip
          - zip
      become: true

    - include_tasks: tasks/terraform.yml
      when: install_terraform

    - include_tasks: tasks/aws-vault.yml
      when: install_aws_vault

    - include_tasks: tasks/rbenv.yml
      when: install_rbenv

  post_tasks:
    - name: "apt autoclean && autoremove"
      apt:
        autoclean: yes
        autoremove: yes
      become: true

  roles:
    - role: stephdewit.nvm
      nvm_version: 0.35.3
      nvm_node_version: 12.18.3
      become: false
